  <div class="container-fluid pass-container pt-4 px-sm-5">
    <form class="card" method="post" action="/generate">
        <div class="card-header fw-bold fs-3 p-3">Random Password Generator<i class="fa-solid fa-key"></i></div>
        <div class="card-body fw-medium">
            <div class="row mx-sm-1 mb-4">
                <div class="col-5 col-md-4 p-0 pt-2">Password Length</div>
                <div class="col-7 col-md-8 ps-2 pe-0"><input name="pw-length" class="form-control" type="number" value="{{options.passwordLength}}" min="4" max="16" step="1" required>
                    <div class="form-text">Length is available between 4 ~ 16</div>
                </div>
            </div>
            <div class="row mx-sm-1 mb-4">
                <div class="col-5 col-md-4 p-0 align-items-center">Include Lowercase Characters</div>
                <div class="col-7 col-md-8 ps-2 pe-0"><input id="pw-lowercase" name="pw-lowercase" type="checkbox" class="form-check-input" {{#if options.lowercase}}checked{{/if}}>
                    <label class="form-check-label" for="pw-lowercase"> (e.g. abcdefg)</label>
                </div>
            </div>
            <div class="row mx-sm-1 mb-4">
                <div class="col-5 col-md-4 p-0 align-items-center">Include Uppercase Characters</div>
                <div class="col-7 col-md-8 ps-2 pe-0"><input id="pw-uppercase" name="pw-uppercase" type="checkbox" class="form-check-input" {{#if options.uppercase}}checked{{/if}}>
                    <label class="form-check-label" for="pw-uppercase"> (e.g. ABCDEFG)</label>
                </div>
            </div>
            <div class="row mx-sm-1 mb-4">
                <div class="col-5 col-md-4 p-0 align-items-center">Include Numbers</div>
                <div class="col-7 col-md-8 ps-2 pe-0"><input id="pw-numbers" name="pw-numbers" type="checkbox" class="form-check-input" {{#if options.numbers}}checked{{/if}}>
                    <label class="form-check-label" for="pw-numbers"> (e.g. 123456)</label>
                </div>
            </div>
            <div class="row mx-sm-1 mb-4">
                <div class="col-5 col-md-4 p-0 align-items-center">Include Symbols</div>
                <div class="col-7 col-md-8 ps-2 pe-0"><input id="pw-symbols" name="pw-symbols" type="checkbox" class="form-check-input" {{#if options.symbols}}checked{{/if}}>
                    <label class="form-check-label" for="pw-symbols"> (e.g. @#$%)</label>
                </div>
            </div>
            <div class="row mx-sm-1 mb-4">
                <div class="col-5 col-md-4 p-0 pt-2">Exclude Characters</div>
                <div class="col-7 col-md-8 ps-2 pe-0"><input name="pw-ex-chars" class="form-control" type="text" value="{{#if options.excludeCharacters}}{{options.excludeCharacters}}{{/if}}">
                    <div class="form-text">These characters will not appear in the password</div>
                </div>
            </div>
            <div class="row mx-sm-1">
                <div class="alert alert-info" role="alert">
                    Your password is: <span class="text-danger">{{password}}</span>
                </div>
            </div>
            <div class="row mx-sm-1">
                <span class="p-0"><button type="submit" class="btn btn-success">Generate Password</button></span>
            </div>
        </div>
        <div class="card-footer text-body-secondary text-end p-3 fw-medium">
            Idea is inspired by <span class="text-primary">Strong Random Password</span>
        </div>
    </form>
</div>
